.FormPage {
  background-color: #fcfcff;
  min-height: 100vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  /* background-image: url("../images/BG.png"); */
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
