.home {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fcfcff;
  min-height: 100vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* background-image: url("../images/landing.gif"); */
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 20vw 32vh;
}

.heroLanding {
  background-image: url("../images/landingPage.jpeg");
  opacity: 0.5;
  margin-top: -8vh;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.hero {
  margin-top: -40%;
  border-style: dashed;
  height: 16vh;
  width: 40vw;
}

.bottom-div {
  background-color: #f0f0f0; /* Background color for the bottom div */
  width: 100%;
  align-items: center;
  justify-content: center;
}

.top-div {
  position: absolute; /* Top div uses absolute positioning */
  background-color: #ffffffd0; /* Background color for the top div */
  width: 40vw;
  height: 16vh;
  padding: 4vw;
  margin-top: 8vh;
  padding-top: 2vh;
}

.App-link {
  color: #61dafb;
}

.heroDivider {
  margin-top: 56vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 400px) {
  .hero {
    margin-top: -96vh;
    border-style: dashed;
    height: 64vh;
    width: 40vw;
  }

  .bottom-div {
    background-color: #f0f0f0; /* Background color for the bottom div */
    width: 100%;
    height: 64vh;
  }

  .top-div {
    position: absolute; /* Top div uses absolute positioning */
    background-color: #ffffffd0; /* Background color for the top div */
    width: 40vw;
    height: 64vh;
    padding: 4vw;
    top: 0;
    margin-top: 8vh;
    padding-top: 2vh;
  }

  .heroDivider {
    margin-top: 40vh;
  }
}
